var {{ controllerName }}Impl = null;
try {
{{ serviceImplName }} = require("../impls/{{ serviceImplName }}");
}
catch (e) {
// No implementation has been provided yet..
// But that's OK because each end-point defined below will remind us...
}

var {{ controllerName }} = {

{%- for apiMethod in apiMethods -%}
{%- for operation in apiMethod.operations -%}

{{ operation.nickname }}: function (req, res) {
    var response = {{ serviceImplName }}.{{ operation.nickname }}(req, res);
    res.send(response);
}
{%- if loop.length >1 and !loop.last -%}
,
{%- endif -%}

{%- endfor -%}
{%- if loop.length >1 and !loop.last -%}
,
{%- endif -%}
{%- endfor -%}

}
module.exports = {{ controllerName }};

