var thisAPImpl = null;
try {
thisAPImpl = require("../impls/{{ controller }}");
}
catch (e) {
// No implementation has been provided yet..
// But that's OK because each end-point defined below will remind us...
}

var {{ controllerName }} = {

{%- for apiMethod in apiMethods -%}
{%- for operation in apiMethod.operations -%}

{{ operation.nickname }}: function (req, res) {
try {
return thisAPImpl.{{ operation.nickname }}(req, res);
} catch(e) {
var html = '{{ operation.httpMethod }} : {{ operation.summary}} <br/><br/>' ;
html += 'exports.<b>.{{ operation.nickname }}</b>.(req, res) {...}<br/><br/>';
html += 'should be exposed from within <b>server/implementation/{{ controller }}.js</b><br/><br/>';
html += 'you can access <b>app.models[...]</b> to manipulate your data...';
res.send(html);
}
}
{%- if loop.length >1 and !loop.last -%}
,
{%- endif -%}

{%- endfor -%}
{%- if loop.length >1 and !loop.last -%}
,
{%- endif -%}
{%- endfor -%}

}
module.exports = {{ controllerName }};

